# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
exportOptions.plist
# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
*.p8
*.report.xml
# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/coverage/
/android/app/debug
/android/app/profile
/android/app/release
android/app/montyMobileKeystore_playstore
/android/app/.cxx
ios/flutterfire_logs.txt
*.orig
/ios/build
android/app/src/main/res/drawable-hdpi/ic_launcher_background.png
android/app/src/main/res/drawable-hdpi/ic_launcher_foreground.png
android/app/src/main/res/drawable-mdpi/ic_launcher_background.png
android/app/src/main/res/drawable-mdpi/ic_launcher_foreground.png
android/app/src/main/res/drawable-xhdpi/ic_launcher_background.png
android/app/src/main/res/drawable-xhdpi/ic_launcher_foreground.png
android/app/src/main/res/drawable-xxhdpi/ic_launcher_background.png
android/app/src/main/res/drawable-xxhdpi/ic_launcher_foreground.png
android/app/src/main/res/drawable-xxxhdpi/ic_launcher_background.png
android/app/src/main/res/drawable-xxxhdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-hdpi/ic_launcher.png
android/app/src/main/res/mipmap-mdpi/ic_launcher.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
flutter_launcher_icons.yaml
flutter_native_splash.yaml
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@1x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@2x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
pubspec.yaml
android/app/src/main/res/drawable-mdpi/ic_notification.png
android/app/src/main/res/drawable-xhdpi/ic_notification.png
android/app/src/main/res/drawable-xxhdpi/ic_notification.png
android/app/src/main/res/drawable-xxxhdpi/ic_notification.png
android/app/src/main/res/drawable-hdpi/ic_notification.png
.env
/coverage
/android/.kotlin
*.mocks.dart
CLAUDE.md
/android/build
/fastlane/.env.local
/fastlane/esim-opensource---test-5c8450a038e7.json
/fastlane/esim-opensource-live-ce6959de8ebb.json
/fastlane/AuthKey_WKVJ7B974X.p8
/fastlane/report.xml
fastlane/android_plugin_patches.sh
/android/gitlab.properties
android/app/TelenorKey
